.card {
  background: rgb(30, 30, 30);
}

.card .header {
  font-size: xx-large;
}

.card .media {
  display: flex;
  justify-content: center;
}

.card .media img {
  width: 13rem;
}

.card .main {
  font-size: large;
}

.card a {
  color: rgb(100, 150, 200);
}

.card a:visited {
  color: rgb(150, 100, 200);
}

.card .textareas .vs-con-textarea,
.card .textareas input {
  background: rgb(225, 225, 225);
  color: rgb(30, 30, 30);
}

.card .textareas .vs-placeholder-label,
.card .textareas .span-text-validation {
  color: rgb(245, 235, 225);
}

.card .textareas textarea,
.card .textareas input {
  font-size: large;
}


.card .textareas .action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card .main .footer {
  text-align: end;
}
